.creatorMenuLogged {
	position: relative;
	background-color: white;
	box-shadow: 1px 1px 10px 1px #888888;
	position: absolute;
	z-index: 100;
	margin: 0 auto;
	top: -260px;
	left: 0;
	right: 0;
	height: 250px;
	width: 90%;
	padding: 20px;
	border-radius: 20px;

	.userLoggedIn {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		height: 100%;
		gap: 20px;
		
		.navigationBlock {
			display: flex;
			flex-direction: column;
			justify-items: center;
			align-items: center;
		}
		
		.linkContainer {
			display: grid;
			place-items: center;
			cursor: pointer;
	
			.imageContainer {
				height: 50px;
				width: 50px;
			}
		}
	}
}
