.buttonContainer {
	button {
		color: white;
		background-color: rgb(147, 147, 147);
		border: 1px solid black;
		font-size: .70rem;
		width: 80px;
		height: 80px;
		border-radius: 5px;
	
	}
	.selected {
		background-color: #444;
	}
}