.businessMap {
	padding-top: 80px;
	min-height: 100vh;
	position: fixed;

	.businessContainer {
		max-height: 450px;
		overflow-y: auto;
		padding-bottom: 180px;
	}

	.categoryContainer {
		display: flex;
		flex-direction: row;
		width: 100vw;
		overflow-x: auto;
		margin: 24px 0;
		.category {
			color: white;
			background-color: black;
			margin: 0 5px;
			padding: 0 20px;
			border-radius: 5px;
			width: max-content;
		}

	}

	.pin {
		display: flex;
		flex-direction: column;
		justify-items: center;
		width: max-content;
	}
}