.topBarContainer {
	display: flex;
	height: 80px;
	width: 100%;
	padding: 25px 20px 15px;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	background-color: white;
	top: 0;
	z-index: 100;
}