.userProfile {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	img {
		border-radius: 500px;
	}

	.buttonContainer {
		font-size: .8rem;
		label {
			input {
				display: none;
			}
		}
	}
}