.listMap {
	position: fixed;
	bottom: 80px;
	width: 90%;
	display: grid;
	place-items: center;
	margin: 0 auto;
	left: 50%;
    transform: translate(-50%, 0);

	.listMapContainer {
		display: flex;
		flex-direction: row;
		height: 40px;
		width: 120px;
		justify-content: space-between;
		border: 1px solid #b52900;
		border-radius: 50px;
		background-color: white;
		opacity: 80%;

		.buttonContainerLeft {
			display: grid;
			place-items: center;
			width: 60px;
			height: 100%;
			border-radius: 50px;
			margin: 0 5px;
		}
		.buttonContainerRight {
			display: grid;
			place-items: center;
			width: 60px;
			height: 100%;
			border-radius: 50px;
			margin-right: 15px;
		}

		.active {
			animation-name: right-to-left;
			animation-duration: .4s;
			transition: ease-in-out;
			display: grid;
			place-items: center;
			background-color: #b52900;
			width: 60px;
			height: 100%;
			padding: 0 30px;
			border-radius: 50px;
		}

		.activeLeft {
			animation-name: left-to-right;
			animation-duration: .4s;
			transition: ease-in-out;
			display: grid;
			place-items: center;
			background-color: #b52900;
			width: 60px;
			height: 100%;
			padding: 0 30px;
			border-radius: 50px;

			img {
				display: block;
			}
		}
	}

	@keyframes left-to-right {
		from {
			transform: translateX(65px);
		}
		to {
			transform: translateX(0px);
		}
	}
	
	@keyframes right-to-left {
		from {
			transform: translateX(-65px);
		}
		to {
			transform: translateX(0px);
		}
	}
}
