.loadingSplash {
	padding-top: 20vh;
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255);
	position: absolute;
	top: 0;
	z-index: 1001;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;

	.logoContainer {
		margin-top: 100px;
	}

	.messageContainer {
		display: grid;
		place-items: center;
		color: #F05F24;
		background-color: white;
		h3 {
			font-size: .5rem;
			color: #444;
		}
		h1 {
			font-size: 1rem;
		}
	}
}