@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	height: 100%;
	font: 'roboto'
}

@layer base {
	html {
		font-family: roboto, system-ui, sans-serif;
	}
}

@layer components {
	.input-single {
		@apply placeholder:text-sm placeholder:text-stone-500 block bg-white w-full border border-black rounded-md py-2 pl-3 pr-3 shadow-sm focus:outline-none focus:border-orange sm:text-sm text-base
	}

	.input-container {
		@apply flex flex-col h-20
	}

	.upload-container {
		@apply flex flex-col h-64 text-center items-center space-y-2
	}
}

.srv-validation-message {
	color: red;
}

.MuiMasonry-root {
	margin: 0 !important;
}

.dot {
	background-color: black !important;
}

.srv-validation-message {
	font-size: .75rem;
}


li.slide {
	align-self: center;
}

.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	margin-left: 0; /* gutter size offset */
	width: auto;
}
.my-masonry-grid_column {
	background-clip: padding-box;
	padding: 5px 5px;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
	margin-bottom: 30px;
}